[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
[submodule "goodlunatic.github.io"]
	path = goodlunatic.github.io
	url = https://github.com/goodlunatic/goodlunatic.github.io/
	branch = main
